<ml-header [drawer]="drawer" [title]="title"></ml-header>

<mat-sidenav-container #sidenav class="sidenav-container">
	<mat-sidenav #drawer class="sidenav" attr.role="navigation" [mode]="(isHandset$ | async) ? 'over' : 'side'">

		<mat-nav-list>
			<!-- Add navigation links here e.g. -->
			<!-- <a mat-list-item routerLink="ROUTE PATH" (click)="sidenav.close()"> {{ ROUTE NAME }} </a> -->
		</mat-nav-list>

	</mat-sidenav>
	<mat-sidenav-content class="sidenav-content">
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
